
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#calculator-div{
    border-style: dotted;
    border-width: 0.2em;
}

#buttons-area,
#display-area {
    display: flex;
}

#display-area {
    justify-content: center;
    text-align: right;
}

#display {
    flex: 1 1 auto;
    min-height: 25px;
}

#numbers-area,
#operators-area,
#top-buttons-area {
    display: flex;
    flex-wrap: wrap;
}

#clear-button,
#delete-button {
    flex: 2 0 auto;
}

#operators-area {
    flex-direction: column;
}

#numbers-area > button{
    width: 33.3%;
}

#plus-button{
    flex: 1 0 auto;
}

