
body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 240, 216);
    color: rgba(2, 2, 2, 0.859);
}

#calculator-div{
    border-style: solid;
    border-width: 1em;
    border-radius: 2%;
    border-color: rgb(202, 198, 198);
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-flow: column;
}

#buttons-area,
#display-area {
    display: flex;
}

#display-area {
    justify-content: center;
    text-align: right;
    min-height: 100px;
    flex: 0;
    align-items: center;
    font-size: 58px;
    border-bottom: solid;
    border-width: 0.4em;
    border-color: rgb(202, 198, 198);
    background-color: rgb(59, 92, 36);
    color: rgba(255, 255, 255, 0.882);
}


#display {
    flex: 1 1 auto;
    min-height: 25px;
}

#buttons-area {
    flex: 4;
    display: flex;
    background-color: rgb(202, 198, 198)
}

#left-buttons-area {
    display: flex;
    flex-direction: column;
    flex:  3;
}

.button {
    font-size: 2em;
    margin: 2px;
    border-radius: 20%;
    background-color: rgb(117, 158, 85);
    color: white;
}

#clear-button {
    background-color: rgb(198, 50, 50);
}

#delete-button {
    background-color: rgb(55, 55, 197);
}

.button:hover {
    background-color: rgb(92, 120, 71); 
}

#clear-button:hover {
    background-color: rgb(142, 30, 22);
}

#delete-button:hover {
    background-color: rgb(19, 19, 133);
}


#numbers-area,
#operators-area,
#top-buttons-area {
    display: flex;
    flex-wrap: wrap;
}

#clear-button,
#delete-button {
    flex: 2 0 auto;
}


#top-buttons-area {
    flex: 0.8;
}

#numbers-area {
    flex: 3;
}

#operators-area {
    flex-direction: column;
    flex: 1;
}

.operator-button {
    flex: 1;
}

#numbers-area > button{
    width: 32.2%;
}

#plus-button{
    flex: 2 0 auto;
}


#footer {
    margin-top: auto;
}